<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @calculate.name %>
</p>

<p>
  <strong>Money spent:</strong>
  <%= @calculate.money_spent %>
</p>

<%= link_to 'Edit', edit_calculate_path(@calculate) %> |
<%= link_to 'Back', calculates_path %>
